# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
*.tgz

# Cypress specific
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
coverage/

# VSCode settings
.vscode/
.history/

# JetBrains IDEs (IntelliJ, WebStorm, etc.)
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional build outputs
dist/
build/